.primary-btn {
  display: block;
  width: 100%;
  padding: 14px 16px;
  margin-top: 24px;
  border: none;
  border-radius: 10px;
  background: #005c92;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}